.name {
  text-align: center;
  background-color: rgb(239, 228, 214);
  width: 300;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
}
#instructions{
  font-weight: bold;
}
.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}
